/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #111;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .menu {
    flex-direction: column;
  }
}
/* Barra de navegación */
.navbar {
  background-color: #24263D;
  color: #EEDB96;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:80px;
    
}
.logo-ocasoia{
    height:60px;
    width:60px;
}
.logo span {
    font-size: 2.5em; 
    font-weight: bold; 
    color:white;
    
}

.nav-links a {
  color: #EEDB96;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}

.nav-links a:hover{
    color: #C19E1F;
}

.nav-links .active {
  font-weight: bold;
}

.sos-button {
  background-color: red;
  color: white;
  padding: 0.5rem 0.9rem;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}
.sos-button:hover {
  background-color: #8F0002;
}


/* Contenido principal */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); /* Deja espacio para la navbar */
  text-align: center;
  padding: 2rem;
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.options-grid-salud {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card {
  height: 250px;
  width: 600px;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.3rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card.dark {
  background-color: #EEDB96;
  color: #24263D;
}

.card.light {
  background-color: #EEDB96;
  color: #24263D;
}

/* ASISTENTE CONTACTADO */

.llamada-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.llamada-texto {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn-cancelar {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
  background-color: #b71c1c;
}

/* SOS */

.sos-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.sos-texto {
  font-size: 3rem;
  margin-bottom: 2rem;
}


/* Usa el mismo botón de cancelar que Asistente */

/* HISTORIAL */

.card-configurar {
  height: 100px;
  width: 200px;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.0rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  background-color: #EEDB96;
  color: #24263D;
  margin-top:60px;
}

.card-configurar:hover {
  transform: translateY(-5px);
}



/* CITAS Y RECORDATORIOS */
.container {
    width: 80%;
    margin: auto;
    padding: 60px;
    text-align: center;
    
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

button {
    font-size: 2em;
    padding: 20px 30px;
    background-color: #EEDB96;
    color: #24263D;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

#tit_nuevorecordatorio{
  margin-bottom: 20px;
}

button:hover {
    background-color: #B59A17;
}

/* Estilos para la ventana modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #24263D;
    color: #EEDB96;
    margin: 15% auto; 
    padding: 25px;
    border: 5px solid #EEDB96;
    width: 50%; 
    position: relative;
}

.close-button {
    background-color: #DF7168;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

.close-button:hover{
    background-color: #841F21;
}

/
#recordatorioList {
    list-style-type: none;
    padding: 0;
}

#recordatorioList li {
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #24263D;
    border: 1px solid #ddd;
    cursor: pointer;
}

#recordatorioList li:hover {
    background-color: #08080D;
}


/* PAGOS EN LÍNEA */

/* Utiliza cosas ya declaradas en la sección anterior, de citas y recordatorios */
#tit_nuevopago{
  margin-bottom: 20px;
}
/* Estilos para la lista de recordatorios */
#pagoList {
    list-style-type: none;
    padding: 0;
}

#pagoList li {
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #24263D;
    border: 1px solid #ddd;
    cursor: pointer;
}

#pagoList li:hover {
    background-color: #08080D;
}


/* TRÁMITES */
.chat-container {
    width: 80%;
    max-width: 1500px;
    background-color: #fefefe;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-log {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin-right:5px;
}

.chat-input button {
    background-color: #EEDB96;
    color: #24263D;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.chat-input button:hover {
    background-color: #B59A17;
}

.chat-input button i{
    font-size: 1.2em;
    display: block; 
}

.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #24263D;
  color: #EEDB96;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.2s;
}

.circle-btn:hover {
  background-color: #3e3d5c;
}

.user-message {
    background-color: #EEDB96;
    color: #24263D;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: right;
    font-size:22px;
    
}
.agent-message {
    background-color: #EEDB96;
    color: #24263D;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: left;
    font-size:22px;
    
}

/* CONFIGURACIÓN */


.container_configuracion {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.container_historial{
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-sizing: border-box; /* Para que el padding no aumente el tamaño del elemento */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}

textarea {
    height: 100px;
}

#dataDisplay{
    text-align: left;
    color: #24263D;
    font-size:30px;
    
}



#tit_historial{
    color: #24263D;
}




/* MISCELÁNEA */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}


/* Estilos para la notificación */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #24263D;
    color: #EEDB96;
    padding: 15px 30px;
    border-radius: 50px;
    display: none; /* Oculta la notificación por defecto */
    z-index: 1000;
    animation: slideIn 0.5s forwards, slideOut 0.5s 4s forwards; /* Animación */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(150%);
        display: none; 
    }
}

h2{
    text-align: center;
    color: #EEDB96;
    padding:2px;
    font-size:30px;
}
h3{
    text-align: center;
    color: #EEDB96;
    padding:2px;
    font-size:18px;
    
}


h5{
    font-size:40px;
    margin-top: 70px;
    margin-bottom:30px;
}

p5{
    font-size: 20px;
    padding:20px
}
p4{
    font-size:34px;
    padding:20px
}
p6{
    margin-top:50px;
    
}
